<section id="contacto" class="container content-section text-xs-center">
    <div class="row">
        <div class="col-lg-12">
            <h2>Contacto</h2>
            <p>
                Comunicate con el Partido Digital para dejarnos tus dudas, sugerencias, comentarios en general.
            </p>
            <div class="alert alert-info" role="alert">
                Para una instancia presencial de contacto, el Partido Digital se está reuniendo todos los primeros
                jueves de cada mes. Más información <a target="_blank" href="https://meetup.com/PartidoDigital">acá</a>.
            </div>
            <!--<form id="form" class="topBefore" action="" method="POST">
                <input id="name" type="text" placeholder="Nombre" name="nombre">
                <input id="email" type="email" placeholder="E-mail" name="email">
                <textarea id="message" type="text" placeholder="Mensaje" name="mensaje"></textarea>
                <input id="submit" type="submit" value="Enviar">
            </form>-->
        </div>
    </div>
</section>