<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% include svg/logo_text.svg %}
                    <p class="intro-text">
                        Somos un partido político que busca mejorar la democracia aumentando la participación y
                        transparencia apoyándose en la tecnología.
                    </p>
                    <a href="#transparencia" class="btn btn-circle">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
        <ul class="extra">
            <li class="social" itemscope="" itemtype="http://schema.org/Organization">
                <link itemprop="url" href="https://partidodigital.org.uy/">
                <a itemprop="sameAs" href="https://www.facebook.com/pdigitaluy" target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a itemprop="sameAs" href="https://www.twitter.com/pdigitaluy" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a itemprop="sameAs" href="https://www.instagram.com/PDigitalUy" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a itemprop="sameAs" href="https://www.youtube.com/channel/UCuqFyel1qh0E9w_1vFXBk0Q" target="_blank">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                </a>
                <a itemprop="sameAs" href="https://www.linkedin.com/company/partido-digital" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                Fotografía por Gabboe <a href="http://creativecommons.org/licenses/by-sa/3.0" target="_blank">
                [CC BY-SA 3.0]</a> via Wikimedia Commons
            </li>
        </ul>
    </div>
</header>