<section id="objetivos" class="container content-section text-xs-center separador">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h2>Objetivos</h2>
            <p>Estos son nuestros próximos objetivos:</p>
            <ul class="list-group">
                {% for objetivo in site.data.objetivos %}
                    <li class="list-group-item">
                        <span class="tag tag-default tag-pill pull-xs-right {{ objetivo.estado }}">
                            {{ objetivo.estado }}
                        </span>
                        {{ objetivo.descripcion }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>