<section id="participacion" class="container content-section text-xs-center separador">
    <div class="row">
        <div class="col-lg-12">
            <h2>Participación</h2>
            <p>La segunda clave que identifica el Partido Digital de manera de mejorar la democracia en el Uruguay es lograr una mayor participación. Los uruguayos estamos acostumbrados a ser partícipes de la política solamente cada 5 años en las elecciones nacionales y contados plebiscitos y referendums. Es necesario un involucramiento más profundo para lograr resultados más profundos.</p>
            <div class="row">
                <div class="col-md-6" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement" style="margin-bottom: 20px;">
                    <span class="btn-circle" style="margin-bottom: 20px; width: 150px; height: 150px; padding: 25px 40px; font-size: 60px;">
                        <i class="fa fa-info" aria-hidden="true"></i>
                    </span>
                    <h3>Información</h3>
                    <p>Cada herramienta utilizada está pensada para poder acercarle a los uruguayos una vía para informarse sobre la política de nuestro país para que el Partido Digital pueda tomar las acciones pertinentes.</p>
                </div>
                <div class="col-md-6" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement" style="margin-bottom: 20px;">
                    <span class="btn-circle" style="margin-bottom: 20px; width: 150px; height: 150px; padding: 25px 40px; font-size: 60px;">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                    <h3>Diálogo</h3>
                    <p>El Partido Digital no sólo pone a disposición herramientas para lograr una mayor participación mediante el diálogo, sino también genera instancias presenciales para colaborar entre todos.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 20px;">
                    <a href="/participacion" itemprop="url" class="btn">Más sobre participación</a>
                </div>
            </div>
        </div>
    </div>
</section>