<section id="preguntas" class="container content-section text-xs-center">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h2>Preguntas</h2>
            <div id="accordion" role="tablist" aria-multiselectable="true">
                {% for pregunta in site.data.preguntas %}
                    <div class="panel panel-default m-b-3">
                        <div class="panel-heading" role="tab" id="pregunta-{{ pregunta.identificador }}">
                            <h4 class="panel-title m-t-3">
                                <a data-toggle="collapse" data-parent="#accordion" href="" data-target="#respuesta-{{ pregunta.identificador }}" aria-expanded="true" aria-controls="{{ pregunta.identificador }}" style="text-transform: none; color: #ffffff;">
                                    {{ pregunta.pregunta }}
                                </a>
                            </h4>
                        </div>
                        <div id="respuesta-{{ pregunta.identificador }}" class="panel-collapse collapse m-b-3" role="tabpanel" aria-labelledby="pregunta-{{ pregunta-identificador }}">
                            {{ pregunta.respuesta }}
                            <br/><br/><a href="{{ pregunta.link }}" style="font-size: 15px;" class="btn">Más información</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>