<section id="transparencia" class="container content-section text-xs-center separador">
    <div class="row">
        <div class="col-lg-12">
            <h2>Transparencia</h2>
            <p>Una de las claves que el Partido Digital identifica que le falta a la democracia uruguaya es la transparencia, pero transparencia de verdad. Una vez que exista tal transparencia, puede existir confianza. Y con confianza viene el compromiso. Ciudadanos más comprometidos significa un mejor Uruguay para todos.</p>
            <div class="row">
                <div class="col-md-4" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement" style="margin-bottom: 20px;">
                    <span class="btn-circle" style="margin-bottom: 20px; width: 150px; height: 150px; padding: 25px 40px; font-size: 60px;">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                    <h3>Código abierto</h3>
                    <p>El código fuente de las herramientas utilizadas son auditables, su desarrollo es colaborativo y su uso es totalmente replicable por otros partidos políticos.</p>
                    <a style="font-size: 20px;" href="/herramientas" itemprop="url" class="btn">Más sobre herramientas</a>
                </div>
                <div class="col-md-4" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement" style="margin-bottom: 20px;">
                    <span class="btn-circle" style="margin-bottom: 20px; width: 150px; height: 150px; padding: 25px 40px; font-size: 60px;">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                    </span>
                    <h3>Finanzas abiertas</h3>
                    <p>En todo momento es posible saber con qué fondos dispone el Partido Digital, quién ha donado y en qué se ha gastado con su respectivo comprobante.</p>
                    <a style="font-size: 20px;" href="/finanzas" itemprop="url" class="btn">Más sobre finanzas</a>
                </div>
                <div class="col-md-4" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement" style="margin-bottom: 20px;">
                    <span class="btn-circle" style="margin-bottom: 20px; width: 150px; height: 150px; padding: 25px 40px; font-size: 60px;">
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                    </span>
                    <h3>Proceder abierto</h3>
                    <p>Toda la documentación del PD a un click de distancia: nuestra carta orgánica, políticas de privacidad de los datos y términos de uso de cada herramienta.</p>
                    <a style="font-size: 20px;" href="/documentacion" itemprop="url" class="btn">Más sobre documentación</a>
                </div>
            </div>
        </div>
    </div>
</section>