<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Somos un partido político que busca mejorar la democracia aumentando la participación y transparencia apoyándose en la tecnología.">
<meta name="author" content="Partido Digital">
<link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32">
<title itemprop='name'>Partido Digital del Uruguay</title>

<!-- Google Meta tags -->
<meta name="google" content="nositelinkssearchbox" />
<link rel="canonical" href="https://partidodigital.org.uy/" itemprop="url">
<script type="application/ld+json">
      {
          "@context": "http://schema.org/",
          "@type": "Organization",
          "url": "https://partidodigital.org.uy/",
          "logo": "https://partidodigital.org.uy/img/logo_text.svg"
      }
</script>

<!-- CSS de Bootstrap  -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
	  integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

<!-- Fuentes -->
<link rel="stylesheet" href="https://use.fontawesome.com/ca11ca7a8a.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i">

<!-- CSS propios -->
<link rel="stylesheet" href="assets/styles/tema.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script type="application/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script type="application/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
