<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% include svg/logo_text.svg %}
                    <p class="intro-text">
                        Somos un partido político que busca mejorar la democracia aumentando la participación y
                        transparencia apoyándose en la tecnología.
                    </p>
                    <a href="#transparencia" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="attribution" style="position: absolute; bottom: 0; right: 5px; color: #777777;">
            Fotografía por Gabboe
            <a href="http://creativecommons.org/licenses/by-sa/3.0" target="_blank" style="color: #777777;">
                [CC BY-SA 3.0]
            </a>, via Wikimedia Commons
        </div>
        <span itemscope="" itemtype="http://schema.org/Organization" style="position: absolute; bottom: 0; left: 5px;">
          <link itemprop="url" href="https://partidodigital.org.uy/">
          <a itemprop="sameAs" href="https://www.facebook.com/pdigitaluy">Facebook</a>
          <a itemprop="sameAs" href="https://www.twitter.com/pdigitaluy">Twitter</a>
        </span>
    </div>
</header>