<nav class="navbar navbar-fixed-top navbar-custom">
	<button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar"
			aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
		<i class="fa fa-bars"></i>
	</button>
	<div class="hidden-lg-up pull-right" style="padding: 1rem;">
		{% include svg/acceso.svg %}
	</div>
	<div class="container navbar-toggleable-md collapse" id="exCollapsingNavbar">
		<div style="height: 40px; text-align: center;">
			<a class="navbar-brand page-scroll hidden-lg-up" href="#arriba">
				{% include svg/header_logo.svg %}
			</a>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<ul class="nav navbar-nav" style="display: inline-block;">
				<li class="nav-item"><a class="nav-link page-scroll" href="#transparencia">Transparencia</a></li>
				<li class="nav-item"><a class="nav-link page-scroll" href="#participacion">Participación</a></li>
				<li class="nav-item"><a class="nav-link page-scroll" href="#objetivos">Objetivos</a></li>
				<li class="nav-item"><a class="nav-link page-scroll" href="#equipo">Equipo</a></li>
				<li class="nav-item"><a class="nav-link page-scroll" href="#preguntas">Preguntas Clave</a></li>
				<li class="nav-item">
					<a class="nav-item nav-link page-scroll" href="#">
						Acceso
						<span style="display: inline-block; vertical-align: text-top; position: relative; top: -2px;">
							{% include svg/acceso.svg %}
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>