<nav class="navbar navbar-fixed-top navbar-custom">
	<button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar"
			aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
		<i class="fa fa-bars"></i>
	</button>
	<div class="hidden-lg-up pull-right p-1">
		{% include recursos/assets/img/logo_cel_acceso.svg %}
	</div>
	<div class="container navbar-toggleable-md collapse" id="exCollapsingNavbar">
		<div style="height: 40px; text-align: center;">
			<a class="navbar-brand hidden-lg-up" href="#arriba">
				<img style="width: 12rem;" src="https://recursos.partidodigital.org.uy/assets/img/logo_horizontal.svg">
			</a>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<ul class="nav navbar-nav" style="display: inline-block;">
				<li class="nav-item">
					<a class="nav-link" href="#transparencia">Transparencia</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#participacion">Participación</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#proximosobjetivos">Próximos objetivos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#equipo">Equipo</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#preguntas">Preguntas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#contacto">Contacto</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://partidodigital.auth0.com/login?client=3yqAXfyeQCu5RcrgSQUsb0M4ojdvif4N">
						Acceso
						<span style="float: right;top: 2px;left: 6px;position: relative;">
							{% include recursos/assets/img/logo_cel_acceso.svg %}
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>