@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition:    $transition;
  -ms-transition:     $transition;
  -o-transition:      $transition;
}

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size:    $size;
  background-size:         $size;
  -o-background-size:      $size;
}